<<<<<<< HEAD
body{
    font-family: Arial;
    background-color: #d4499f92;
    text-align: center;
}

.login-container{
    background: rgb(107, 211, 210);
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

.info-container{
    display: none;
    padding: 40px;
}

input{
    width: 80%;
    padding: 10px;
    margin: 10px;
}

button{
    padding: 10px 20px;
    background: #4420c4;
    color: white;
    border: none;
    cursor: pointer;
=======
body{
    font-family: Arial;
    background-color: #d4499f92;
    text-align: center;
}

.login-container{
    background: rgb(107, 211, 210);
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
}

.info-container{
    display: none;
    padding: 40px;
}

input{
    width: 80%;
    padding: 10px;
    margin: 10px;
}

button{
    padding: 10px 20px;
    background: #4420c4;
    color: white;
    border: none;
    cursor: pointer;
>>>>>>> a26042ac31adfb210adb0f739d406143c75edc96
}